.cosmo_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 100%;
}

.checkboxfieldbck {
  width: 22px !important;
}

.Add {
  background-image: url(images/icon/add.png) !important;
}

.Arrowturnleft {
  background-image: url(images/icon/arrow_turn_left.png) !important;
}

.Arrowturnright {
  background-image: url(images/icon/arrow_turn_right.png) !important;
}

.cosmo_icon_new {
  background-image: url(images/icon/cosmo_icon_new.png) !important;
}

.cosmo_icon_open {
  background-image: url(images/icon/cosmo_icon_open.png) !important;
}

.cosmo_icon_save {
  background-image: url(images/icon/cosmo_icon_save.png) !important;
}

.cosmo_icon_saveAs {
  background-image: url(images/icon/cosmo_icon_saveAs.png) !important;
}

.cosmo_icon_copy {
  background-image: url(images/icon/cosmo_icon_copy.png) !important;
}

.cosmo_icon_cut {
  background-image: url(images/icon/cosmo_icon_cut.png) !important;
}

.cosmo_icon_paste {
  background-image: url(images/icon/cosmo_icon_paste.png) !important;
}

.cosmo_icon_data {
  background-image: url(images/icon/cosmo_icon_data.png) !important;
}

.cosmo_icon_look {
  background-image: url(images/icon/cosmo_icon_look.png) !important;
}

.cosmo_icon_align {
  background-image: url(images/icon/cosmo_icon_align.png) !important;
}

.cosmo_icon_align1 {
  background-image: url(images/icon/cosmo_icon_align1.png) !important;
}

.cosmo_icon_height {
  background-image: url(images/icon/cosmo_icon_height.png) !important;
}

.cosmo_icon_top {
  background-image: url(images/icon/cosmo_icon_top.png) !important;
}

.cosmo_icon_bottom {
  background-image: url(images/icon/cosmo_icon_bottom.png) !important;
}

.cosmo_icon_lock {
  background-image: url(images/icon/cosmo_icon_lock.png) !important;
}

.cosmo_icon_unlock {
  background-image: url(images/icon/cosmo_icon_unlock.png) !important;
}

.cosmo_icon_align2 {
  background-image: url(images/icon/cosmo_icon_align2.png) !important;
}

.cosmo_icon_align3 {
  background-image: url(images/icon/cosmo_icon_align3.png) !important;
}

.cosmo_icon_group {
  background-image: url(images/icon/cosmo_icon_group.png) !important;
}

.cosmo_icon_ungroup {
  background-image: url(images/icon/cosmo_icon_ungroup.png) !important;
}

.cosmo_icon_select1 {
  background-image: url(images/icon/cosmo_icon_select1.png) !important;
}

.cosmo_icon_select2 {
  background-image: url(images/icon/cosmo_icon_select2.png) !important;
}

.iconBtn {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  float: right;
  background-size: cover;
}

.iconBtn_seach {
  background-image: url(images/icon/iconBtn_seach.png) !important;
  margin-right: 5px;
}

.iconBtn_meau {
  background-image: url(images/icon/iconBtn_meau.png) !important;
  width: 13px;
  height: 11px;
  margin-top: 3px;
}

.cosmo_icon_parmar {
  background-image: url(images/icon/cosmo_icon_parmar.png) !important;
}

.cosmo_icon_csa {
  background-image: url(images/icon/cosmo_icon_csa.png) !important;
}

.cosmo_icon_js {
  background-image: url(images/icon/cosmo_icon_js.png) !important;
}

.cosmo_icon_css {
  background-image: url(images/icon/cosmo_icon_css.png) !important;
}

.btn_pressed {
  background-image: linear-gradient(top, #e8e8e8, #eee 48%, #e9cfcf 52%, #ecd7d7);
}

.btn_normal {
  background: none !important;
}

.cosmo_icon_fillcolor {
  background-image: url(images/icon/topbar_FillColor.png) !important;
}

.cosmo_icon_fontColor {
  background-image: url(images/icon/topbar_FillColor.png) !important;
}

.cosmo_icon_fontBold {
  background-image: url(images/icon/topbar_FontBold.png) !important;
}

.cosmo_icon_fontItalics {
  background-image: url(images/icon/topbar_FontItalics.png) !important;
}

.cosmo_icon_fontUnderline {
  background-image: url(images/icon/topbar_Underline.png) !important;
}

.cosmo_icon_alignLeft {
  background-image: url(images/icon/topbar_AlignLeft.png) !important;
}

.cosmo_icon_alignCenter {
  background-image: url(images/icon/topbar_AlignCenter.png) !important;
}

.cosmo_icon_alignRight {
  background-image: url(images/icon/topbar_AlignRight.png) !important;
}

.insert_topbarFill, .insert_topbarFontColor {
  left: 4px !important;
  top: 1px !important;
}

#topbarFontFamily:hover {
  .fontFamilySelect {
    background: #167195;
    width: 74px;
    color: #fff;
  }
}

.fontFamilySelect {
  background: #263646;
  width: 74px;
  color: #fff;
}

.fontFamilySelect option {
  background: #263646;
}


.fontFamilySelect option::-ms-expand {
  display: none;
}

.fontFamilySelect option {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari 和 Chrome */
  appearance: none;
}

/* --背景色字体颜色--*/
.fontFamilySelect option:hover {
  color: red;
  background-image: -webkit-linear-gradient(top, #24517e, #1c3f62);
  border: 1px solid #00A3D9;
}

// 右键菜单图标
.cosmo_icon_zindex_up {
  background-image: url(images/icon/cosmo_icon_zindex_up.png) !important;
}

.cosmo_icon_zindex_down {
  background-image: url(images/icon/cosmo_icon_zindex_down.png) !important;
}

.cosmo_icon_align_leftRight {
  background-image: url(images/icon/cosmo_icon_align_leftRight.png) !important;
}

.cosmo_icon_align_right {
  background-image: url(images/icon/cosmo_icon_align_right.png) !important;
}

.cosmo_icon_align_top {
  background-image: url(images/icon/cosmo_icon_align_top.png) !important;
}

.cosmo_icon_align_topDown {
  background-image: url(images/icon/cosmo_icon_align_topDown.png) !important;
}

.cosmo_icon_align_bottom {
  background-image: url(images/icon/cosmo_icon_align_bottom.png) !important;
}

.cosmo_icon_distribution_horizontal {
  background-image: url(images/icon/cosmo_icon_distribution_horizontal.png) !important;
}

.cosmo_icon_distribution_vertical {
  background-image: url(images/icon/cosmo_icon_distribution_vertical.png) !important;
}

.cosmo_icon_edit {
  background-image: url(images/icon/cosmo_icon_edit.png) !important;
}

.cosmo_icon_createFlod {
  background-image: url(images/icon/cosmo_icon_createFlod.png) !important;
}

.cosmo_icon_existingProject {
  background-image: url(images/icon/cosmo_icon_existingProject.png) !important;
  background-size: 12px 12px;
}

.cosmo_icon_createFile {
  background-image: url(images/icon/cosmo_icon_createFile.png) !important;
}

.cosmo_icon_rename {
  background-image: url(images/icon/cosmo_icon_rename.png) !important;
}

//ace编辑页面左侧icon
.ace_icon_left_ZX {
  background-image: url(images/top/zhiXing.png) !important;
  background-size: 32px;
  width: 28px;
  height: 28px;
}

.ace_icon_left_BC {
  background-image: url(images/top/baoCun.png) !important;
  background-size: 32px;
  width: 32px;
  height: 32px;
}

.ace_icon_left_XJ {
  background-image: url(images/top/xinJian.png) !important;
  background-size: 32px;
  width: 32px;
  height: 32px;
}

.ace_icon_left_DK {
  background-image: url(images/top/daKai.png) !important;
  background-size: 32px;
  width: 32px;
  height: 32px;
}

.ace_icon_left_SD {
  background-image: url(images/top/suoDing.png) !important;
  background-size: 32px;
  width: 32px;
  height: 32px;
}

.ace_icon_left_BY {
  background-image: url(images/top/bianYiMs.png) !important;
  background-size: 32px;
  width: 32px;
  height: 32px;
}

.ace_icon_left_style {
  width: 40px;
  height: 60px;
  background-color: #F5F5F5;
  background-image: none;
  border-radius: 0;
  //margin-bottom:5px
}

.ace_icon_left_active {
  background-color: #BCC3C6;
  background-image: none;
}

.ace_right_tit {
  display: block;
  white-space: pre-wrap;
  width: 20px;
  overflow: hidden;
}

#aceEditorEast .x-tab-default .x-tab-inner-default {
  //width: 20px;display: block;white-space: pre-wrap;
}

#dataSourceConfig .x-panel-header-default {
  height: 40px;
}

#dataSourceConfig .x-panel-header-title-default > .x-title-text-default {
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}

#funLookupTable .x-tab-default .x-tab-inner-default {
  width: auto;
  display: inline;
  white-space: normal;
}

.x-grid3-row-alt {
  /*设置GridPanel的交替行颜色*/
  background-color: #E6E6E6;
}

#fileDesignation {
  height: 26px !important;
  width: 290px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.suoP {
  width: 100%;
  height: 100%;
}

.suoP button {
  height: 32px;
  top: 45%;
  left: 45%;
  width: 120px;
  position: fixed;
}

#dataHistory #dataHistory-innerCt a:nth-child(2n+1) {
  background: #E6E6E6;
  line-height: 20px;
}

#dataHistory #dataHistory-innerCt a:nth-child(2n) {
  background: #f5f5f5;
  line-height: 20px;
}

#onSaveWin .x-panel-body-default {
  background: #fff;
  padding-left: 35px;
  margin-top: 20px !important;
}

#onSaveWin .x-panel-header-title-default-framed > .x-title-text-default-framed {
  color: #000;
}

#onSaveWin .x-form-text-wrap-default, #rightVsBox .x-form-text-wrap-default {
  border-width: 0;
}

#onSaveWin .x-webkit .x-form-text, #rightVsBox .x-webkit .x-form-text {
  height: 30px;
}

#rightVsBox .x-form-text-field-body-default {
  min-width: 100%;
  max-width: 100%
}

#create-form {
  //border-top: 2px #00a3d9 solid;
  background-color: #e8e8e8 !important;
  border-width: 0px !important;

  .x-panel-body-default-framed {
    background-color: none !important;
    width: 100%;
  }

  .x-form-item {
    margin-top: 5px;
  }
}

#treeUrl1 {
  .x-toolbar-default {
    //background: #EBEBEB !important;
  }
}

#topRegion {
  border-top: 4px solid #2A79D4;
}

#create-form-innerCt {
  background: #e8e8e8 !important;
}

#treeUrl1-body {
  //height: 70% !important;
}

#fpform-body {
  height: 100% !important;
  background: none !important;
}

#ace_content {
  width: 100% !important;
  height: 100% !important;
}

#saveBtn, #cancelBtn {
  .x-btn-inner-default-small {
    color: #ffffff;
  }
}

#saveBtn:hover {

}

.cosmo_icon_importProjectico{
  background-image: url(images/icon/importProjecticon.png) !important;
  background-size: 14px;
}
