
/* CSS Document */

//.ui-tab-bar{
//  padding-top:1px;
//}
//.ui-tab-bar .x-tab-bar{
//  background:#FFF !important;
//  border:0 !important;
//  width: 72px !important;
//}
//
//.ui-tab-bar .x-tab-bar-strip {
  //top: 72px !important; /* Default value is 20*/
//}
//
.ui-tab-bar .x-tab-default-top{
  padding: 0;
}
.ui-tab-bar>.x-tab-bar>.x-tab-bar-body>.x-box-inner {
  //background: #2d3b4a;
}
#leftsMain {
  background: #2d3b4a !important;
  border: none;
}
#tabbar-1011-innerCt{
  //background: #2d3b4a !important;
  //border: none;
}
.ui-tab-bar .x-tab-default{
  border: none;
  background: #222C59;
}
.x-tab-active {
  background: #081D3B none !important;
}
//按钮的样式
.ui-tab-bar >.x-panel-bodyWrap >.x-tab-bar >.x-tab-bar-body >.x-box-inner >.x-box-target >.x-tab-rotate-left >.x-tab-wrap >.x-tab-button-center  {
//.ui-tab-bar .x-tab-button-center  {
  height: 72px;
  width: 90px;
  display: inline-block;
  //background: #2d3b4a;
  color: #fff;
}
//点击按钮
.ui-tab-bar  .x-box-scroller-body-vertical {
  background: #2d3b4a !important;
}
//字体
// .ui-tab-bar>.x-panel-bodyWrap >.x-tab-bar >.x-tab-bar-body >.x-box-inner >.x-box-target >.x-tab-rotate-left >.x-tab-wrap >.x-tab-button-center>.x-tab-inner-default {
.ui-tab-bar >.x-panel-bodyWrap >.x-tab-bar >.x-tab-bar-body >.x-box-inner >.x-box-target >.x-tab-rotate-left >.x-tab-wrap >.x-tab-button-center> .x-tab-inner-default {
  font: bold 11px/13px tahoma, arial, verdana, sans-serif;
  color: #fff;
  max-width: 100%;
  //font-size: 20px;
  position: absolute;
  top: 26px;
  left: 4px;
}
//点击
.ui-tab-bar .x-tab-active>.x-tab-wrap-default>.x-tab-button-center{
  width: 120px !important;
  //background: #000 !important;
}
//图标
.ui-tar-icon-Datadevelopment{
  background: url(plugin/leftImage/dataDevelopment.png) no-repeat;
  background-size: 26px;
}
.ui-tar-icon-taskMoni{
  background: url(plugin/leftImage/monitoring.png) no-repeat;
  background-size: 26px;
}
.ui-tar-icon-tableManage{
  background: url(plugin/leftImage/listguanmrnt.png) no-repeat;
  background-size: 26px;
}
.ui-tar-icon-sourceManage{
  background: url(plugin/leftImage/resource.png) no-repeat;
  background-size: 26px;
}
.ui-tar-icon-search{
  background: url(plugin/leftImage/inquire.png) no-repeat;
  background-size: 26px;
}
//图标位置
.ui-tab-bar .x-tab-icon-el-default{
  position: absolute;
  width: 36px;
  height: 36px;
  //top: 16px;
  left: 8px;
  top:12px;
  //transform: rotate(90deg);
}
#topMain-bodyWrap{
  .x-tab-bar{
    width: 300px !important;
    position: absolute !important;
    top: -50px !important;
    z-index: 10000;
  }
}
#startDiv{
  .x-window-body-default{
    background: rgb(52, 72, 96);
    border-width: 0px;
  }
}
/* 项目 引导页开始*/
.startDiv{
  width:842px;
  height:600px;
  position:absolute;
  left:50%;
  top: 50%;
  margin-left: -421px;
  margin-top: -300px;
  background-color: #fff;
  overflow: hidden;
}
.startDivHeader{
  width:100%;
  height: 32px;
  background: #F7F7F7;
  overflow: hidden;
  font-size:14px;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(21,38,57,1);
  padding:7px 10px 0px 20px;
  box-sizing: border-box;
  border:1px solid rgba(220,220,220,1);
}
.fwpIcon{
  float: left;
  width:22px;
  height: 22px;
  margin-top: -2px;
}
.fwpName{
  float: left;
  margin-left:4px;
  line-height: 18px;
}
.closeIcon{
  float:right;
  width:14px;
  height: 14px;
  cursor: pointer;
}
.projectList{
  width:246px;
  height:545px;
  float: left;
  background:rgba(247,247,247,1);
  box-shadow:3px 0px 4px 0px rgba(204,204,204,0.4);
}
.projectItem{
  height:44px;
  padding:0 20px;
  font-size:12px;
  font-family:PingFang SC;
  font-weight:bold;
  cursor:pointer;
  color:rgba(198,198,198,1);
}
.projectItem:hover,.projectItem:hover .projectTitle{
  background: #3875D6;
  color:#fff;
}
.projectTitle{
  padding-top:5px;
  color:rgba(21,38,57,1);
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  width:174px;
  text-overflow:ellipsis;
  text-align: left;
}
.projectUrl{
  width:174px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  text-align: left;
}
.startCon{
  float:left;
  width: 590px;
  height: 500px;
  padding:43px 188px 0px 188px;
}
.loadImg{
  width:220px;
  height: 177px;
  img{
    width: 100%;
    height: 100%;
  }
}
.load img{
  width:100px;
  height: auto;
}

.loadFwpName{
  width:220px;
  height: 36px;
  margin:16px 0 68px 0;
  text-align: center;
  font-size:36px;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(21,38,57,1);
}

.loadBtn{
  width:158px;
  height:32px;
  padding:7px 40px;
  background:rgba(247,247,247,1);
  border-radius:16px;
  margin:10px auto;
  font-size:12px;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(21,38,57,1);
  cursor:pointer;
}
.loadBtn img{
  width:14px;
  height: 14px;
  margin-right:10px;
}
/* 项目 引导页结束*/

//.ui-tab-bar .x-tab-bar-strip-default-top{
//  height:0px !important;
//}
//
//
//.ui-tab-bar .ui-tab-body{
//  border:0 !important;
//}
//
//.ui-tab-bar .x-tab-bar .x-tab-bar-body {
//  height: 34px !important; /* Default value is 23*/
//
//  /*border: 0 !important;*/ /* Overides the border that appears on resizing the grid */
//}
//
//.ui-tab-bar .x-tab-bar .x-tab-bar-body .x-box-inner {
//  height: 32px !important; /* Default value is 21*/
//}
//
//.ui-tab-bar .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
//  height: 31px !important; /* Default value is 21*/
//}
//
//.ui-tab-bar .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab-button {
//  height: 24px !important; /* Default value 13*/
//  line-height: 24px !important; /* Default value 13*/
//  margin-top:5px;
//}
//白线
.x-tab-bar-left > .x-tab-bar-strip-default{
  width: 0px !important;
  border: none !important;
  border-color:none !important;
}
//
.x-panel-body-default {
  border-width: 0px !important;
}

#MainTop-body{
  //border-bottom: 4px solid #2a79d4;
}
#topToolbar{
  background: red !important;
}
.MainTop-log{
  height:32px !important; ;
  width: 32px !important;
  top: 10px !important;
  left: 20px !important;
  color: #fff !important;
}
.MainTopText{
  width: 300px !important;
  left: 60px !important;
  top: 0px !important;
  background: none !important;
  border: none !important;
}
.MainTopText .x-btn-inner-default-small{
  color: #fff !important;
  font-size: 16px !important;
}
.MainTopUser{
  width: 100px !important;
  height: 20px !important;
  top: 14px !important;
  right: 0px !important;
  left: auto !important;
  border: none;
  background: none !important;
  z-index: 10;
  .x-btn-inner-default-small{
    color: #fff !important;
  }
}
.MainTopUser-img{
  background: url(plugin/leftImage/user.svg) no-repeat;
  background-size: 16px;
}
.MainTopNews{
  width: 20px !important;
  height: 20px !important;
  top: 14px !important;
  right: 85px !important;
  left: auto !important;
  border: none;
  background: none !important;
  z-index: 10;
}
.MainTopNews-img{
  background: url(plugin/leftImage/news.svg) no-repeat;
  background-size: 16px;
}
.MainTopSet{
  width: 20px !important;
  height: 20px !important;
  top: 14px !important;
  border: none;
  right: 20px !important;
  left: auto !important;
  background: none !important;
  z-index: 10;
}
.MainTopSet-img{
  background: url(plugin/leftImage/set.svg) no-repeat;
  background-size: 16px;
}
  #loadingImg{
    width: 100%;
    height: 100%;
    background: #222428;
    z-index: 40000;
    text-align: center;
    border-top: 2px solid #2A79D4;
    position: absolute;
    top: 2px;
    html{
      height: calc(100% + 48px) !important;
    }
  }
//loadingimg 样式
#loading {
  background-color: #2c3e50;
  height:100%;
  width:100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  /*top: 0px;*/
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: loading-center-absolute 1.5s infinite;
  animation: loading-center-absolute 1.5s infinite;

}
.loading-bottom-absolute{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: 80px;
  margin-left: -70px;
}

.object {
  width: 25px;
  height: 25px;
  background-color: #FFF;
  float: left;

}

#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}

#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
}

#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
}

#object_four {
  -webkit-animation: object_four 1.5s infinite;
  animation: object_four 1.5s infinite;
}

@-webkit-keyframes loading-center-absolute {
  100% {
    -webkit-transform: rotate(-45deg);
  }

}

@keyframes loading-center-absolute {
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@-webkit-keyframes object_one {
  25% {
    -webkit-transform: translate(0, -50px) rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }

}

@keyframes object_one {
  25% {
    transform: translate(0, -50px) rotate(-180deg);
    -webkit-transform: translate(0, -50px) rotate(-180deg);
  }
  100% {
    transform: translate(0, 0) rotate(-180deg);
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@-webkit-keyframes object_two {
  25% {
    -webkit-transform: translate(50px, 0) rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@keyframes object_two {
  25% {
    transform: translate(50px, 0) rotate(-180deg);
    -webkit-transform: translate(50px, 0) rotate(-180deg);
  }
  100% {
    transform: translate(0, 0) rotate(-180deg);
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@-webkit-keyframes object_three {
  25% {
    -webkit-transform: translate(-50px, 0) rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@keyframes object_three {
  25% {
    transform: translate(-50px, 0) rotate(-180deg);
    -webkit-transform: translate(-50px, 0) rotate(-180deg);
  }
  100% {
    transform: translate(0, 0) rotate(-180deg);
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@-webkit-keyframes object_four {
  25% {
    -webkit-transform: translate(0, 50px) rotate(-180deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}

@keyframes object_four {
  25% {
    transform: translate(0, 50px) rotate(-180deg);
    -webkit-transform: translate(0, 50px) rotate(-180deg);
  }
  100% {
    transform: translate(0, 0) rotate(-180deg);
    -webkit-transform: translate(0, 0) rotate(-180deg);
  }
}
#topsMain-body{
  height: calc(100% - 52px) !important;
  overflow: hidden;
}
#Mainbody{
  height: 100% !important;
}
#topsMain-bodyWrap{
  height: 100%  !important;
  overflow: hidden;
  .x-tab{
    padding: 0 !important;
  }
  .x-tab-bar{
    width: 690px !important;
    height: 48px !important;
    left: 375px !important;
    background: none;
    .x-tab-inner-default{
      height: 48px !important;
      width: 140px !important;
      line-height: 48px;
      text-indent: -10px;
      background: none !important;
      color: #fff;
    }
  }
}
#centerEdit-bodyWrap{
  .x-tab-bar{
    width:100% !important;
    height: 26px !important;
    left: 0px !important;
    background: none;
    .x-tab-inner-default{
      height: 22px !important;
      width: auto !important;
      padding: 0 5px;
      margin: 0 5px;
      line-height: 22px;
      text-indent: 0px;
      background: none !important;
      color: #848484;
    }
  }
   .x-tab{
     top: 0px !important;
   }
  .x-tab-default{
    background: #E2E2E2 !important;
  }
  .x-tab-active{
    background: #455A64 !important;
    .x-tab-inner-default{
      color: #fff3e0 !important;
    }
  }
}
.x-tab-bar-top > .x-tab-bar-strip-default{
  height: 0 !important;
}
.x-tab-bar-strip{
  z-index: 0;
}
