.bpmn-icon-subprocess-expanded{
    background-image: url("../images/viso/sub-pro1.svg")!important;
    content: ''!important;
}
.bpmn-icon-subprocess-expanded:before {
    content: ''!important;
}
.bmmn-icon-task-discretionary{
    background-image: url("../images/viso/sub-pro2.svg")!important;
    content: ''!important;
}
.bmmn-icon-task-discretionary:before {
    content: ''!important;
}
.bpmn-icon-transaction{
    background-image: url("../images/viso/sub-pro3.svg")!important;
    content: ''!important;
}
.bpmn-icon-transaction:before {
    content: ''!important;
}
.bpmn-icon-call-activity{
    background-image: url("../images/viso/sub-pro4.svg")!important;
    content: ''!important;
}
.bpmn-icon-call-activity:before {
    content: ''!important;
}
.bpmn-icon-ad-hoc-marker{
    background-image: url("../images/viso/sub-pro5.svg")!important;
    content: ''!important;
}
.bpmn-icon-ad-hoc-marker:before {
    content: ''!important;
}