// 左侧panel图标
.search {
  background-image: url(images/left/search.png) !important;
}

.manage {
  background-image: url(images/left/option.png);
}

.model {
  background-image: url(images/left/flie.png) !important;
}

.folder {
  background-image: url(images/left/folder.png) !important;
}

// 元件库图标
.bpmn-task {
  background-image: url(images/viso/bpmn-task.png);
}

.bpmn-problem {
  background-image: url(images/viso/bpmn-problem.png);
}

.bpmn-commit {
  background-image: url(images/viso/bpmn-commit.png);
}

.bpmn-request {
  background-image: url(images/viso/bpmn-request.png);
}

.bpmn-approval {
  background-image: url(images/viso/bpmn-approval.png);
}

.bpmn-refuse {
  background-image: url(images/viso/bpmn-refuse.png);
}

.bpmn-agreement {
  background-image: url(images/viso/bpmn-agreement.png);
}

.bpmn-analysis {
  background-image: url(images/viso/bpmn-analysis.png);
}

.bpmn-meeting {
  background-image: url(images/viso/bpmn-meeting.png);
}

.bpmn-call {
  background-image: url(images/viso/bpmn-call.png);
}

.bpmn-perform {
  background-image: url(images/viso/bpmn-perform.png);
}

.bpmn-author {
  background-image: url(images/viso/bpmn-author.png);
}

.bpmn-research {
  background-image: url(images/viso/bpmn-research.png);
}

.bpmn-interview {
  background-image: url(images/viso/bpmn-interview.png);
}

.bpmn-person {
  background-image: url(images/viso/bpmn-person.png);
}

.bpmn-half-person {
  background-image: url(images/viso/bpmn-half-person.png);
}

.bpmn-user {
  background-image: url(images/viso/bpmn-user.png);
}

.bpmn-prod {
  background-image: url(images/viso/bpmn-prod.png);
}

.bpmn-doc {
  background-image: url(images/viso/bpmn-doc.png);
}

.bpmn-box {
  background-image: url(images/viso/bpmn-box.png);
}

.bpmn-cd {
  background-image: url(images/viso/bpmn-cd.png);
}

.bpmn-ceo {
  background-image: url(images/viso/bpmn-ceo.png);
}

.bpmn-cio {
  background-image: url(images/viso/bpmn-cio.png);
}

.bpmn-coo {
  background-image: url(images/viso/bpmn-coo.png);
}

.bpmn-cfo {
  background-image: url(images/viso/bpmn-cfo.png);
}

.bpmn-crate {
  background-image: url(images/viso/bpmn-crate.png);
}

.bpmn-competitor {
  background-image: url(images/viso/bpmn-competitor.png);
}

.bpmn-docs {
  background-image: url(images/viso/bpmn-docs.png);
}

.bpmn-fold {
  background-image: url(images/viso/bpmn-fold.png);
}

.bpmn-unfold {
  background-image: url(images/viso/bpmn-unfold.png);
}

/*.bpmn-email {
  background-image: url(images/viso/bpmn-email.png);
}*/

.bpmn-ppt {
  background-image: url(images/viso/bpmn-ppt.png);
}

.bpmn-excel {
  background-image: url(images/viso/bpmn-excel.png);
}

.bpmn-usb {
  background-image: url(images/viso/bpmn-usb.png);
}

.bpmn-supplier {
  background-image: url(images/viso/bpmn-supplier.png);
}

.bpmn-web {
  background-image: url(images/viso/bpmn-web.png);
}
.bpmn-dip{
  background-image: url(images/gdfimage/dip_p.svg);
}
.bpmn-Sqoop{
  background-image: url(images/gdfimage/2-1SQOOP.svg);
}
.bpmn-sql{
  background-image: url(images/gdfimage/1-1SQL.svg);
}
.bpmn-dictcp{
  background-image: url(images/gdfimage/3-5DISTCP.svg);
}
.bpmn-hive{
  background-image: url(images/gdfimage/3-1HIVESCRIPT.svg);
}
.bpmn-Flink{
  background-image: url(images/gdfimage/Flink.svg);
}
.bpmn-mr{
  background-image: url(images/gdfimage/3-4MR.svg);
}
.bpmn-spark{
  background-image: url(images/gdfimage/3-3SPARKAPP.svg);
}
.bpmn-python{
  background-image: url(images/gdfimage/1-2PYTHON.svg);
}
.bpmn-scala{
  background-image: url(images/gdfimage/1-3SCALA.svg);
}
.bpmn-java{
  background-image: url(images/gdfimage/3-2JAVA.svg);
}
.bpmn-ssh{
  background-image: url(images/gdfimage/2-2SSH.svg);
}
.bpmn-fs{
  background-image: url(images/gdfimage/3-6FS.svg);
}
.bpmn-shell{
  background-image: url(images/gdfimage/1-4SHELL.svg);
}
.bpmn-email{
  background-image: url(images/gdfimage/4-1E-MAIL.svg) !important;
}
.bpmn-begin{
  background-image: url(images/gdfimage/Begin_p.svg);
}
.bpmn-end{
  background-image: url(images/gdfimage/end_p.svg);
}

.bpmn-branch{
  background-image: url(images/gdfimage/branch_p.svg);
}
.bpmn-merger{
  background-image: url(images/gdfimage/merger_p.svg);
}


.VerticalMenu {
  font-size: 12px;
  color: #172C44;
  height: calc(100% - 32px);
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa-angle-right {
  /*color: #fff;
  display: none;*/
}

.VerticalMenu > div {
  width: 280px;
  margin-left: 20px;
  float: left;
}

.VerticalMenu > div > div > span {
  display: inline-block;
  font-weight: 600;
   padding-left: 20px;
}

.VerticalMenu > div {
  border-bottom: 1px solid #BCBCBC;
}

.VerticalMenu > div:last-child {
  border-bottom: none;
}

.VerticalMenu > div > div:first-child {
  padding-left: 15px;
  height: 40px;
  background-color: #F1F1F1;
  line-height: 40px;
  padding-right: 10px;
  transition: background-color 0.4s linear;
  //display: none;
}

.VerticalMenu > div > div:first-child > i:last-child {
  line-height: 40px;
  float: right;
  transform: rotate(0deg);
  transition: transform 0.4s linear;
}

.VerticalMenu > div > div:last-child {
  //display: none;
}
.VerticalMenu{
  .displayXzTpl{
    display: none;
  }
}


.VerticalMenu > div > div:last-child > div {
  background-color: #F1F1F1;
  transition: background-color 0.1s linear;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #BCBCBC;
}

.VerticalMenu > div:first-child > div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.VerticalMenu > div:last-child > div:first-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.VerticalMenu > div:last-child::after {
  display: block;
  clear: both;
}

.fwp-icon {
  background-image: url(images/favicon.ico);
}

#newFileList_header{
  padding:1px 5px;
  background-image: linear-gradient(-180deg, #eee 0%, #ddd 100%) !important;
  border-radius:5px 5px 0px 0px;
}

#newFileList-bodyWrap{
  .x-toolbar-footer{
    background: #F1F1F1 !important;
  }
}
.x-unselectable{
    //height: 26px !important;
    //color: #fff !important;
    //background: rgb(74, 144, 226) !important;
}
#leftresource{
  border-right: 1px solid #b5afaf;
}