.notDefault div {
  display: none;
}

.defineTr:hover .notDefault div {
  display: inline-block;
}

.createPopoutSetli {
  //background: #fff !important;
}

.createPopoutSetli > .x-panel-bodyWrap > .x-panel-body > .x-autocontainer-outerCt > .x-autocontainer-innerCt {
  background: #fff !important;
}

#PanelCenter-body {
  //background: #fff;
}

#createPopout-innerCt {
  background: #F1F1F1 !important;
}

.PanelCenterAdd-body .bodyWrap .body {
  background: #fff !important;
}

.inputStyle > .x-form-text-field-body-default {
  min-width: 30px !important;
  max-width: 70px !important;
}

#searchAlert > .x-form-text-field-body-default {
  min-width: 180px !important;
  max-width: 180px !important;
}

#zhang > .x-form-text-field-body-default {
  min-width: 180px !important;
  max-width: 180px !important;
}

#topPanel-body {
  padding: 0px 0 !important;
  width: 100%;
}

.x-form-text-field-body-default {
  //min-width: 100px;
  max-width: 150px;
}

.inputStyleKey {
  width: 115px !important;
}

.inputStyleValue {
  width: 50px !important;
  width: 50px !important;
  position: absolute;
  right: 47px;
  z-index: 10;
  top: 0px;
}

.Hdfsbottom > div > div > div {
  //background: #fff;
  border-top: 2px solid #dad8d8;
  padding-top: 8px;
}

.Hdfsbottom > div > div {
  //padding-left: 10px;
  //padding-right: 10px;
  //border-left: 1px solid #F1F1F1;
}

.inputStyleKey > .x-form-text-field-body-default {
  min-width: 50px !important;
}

.inputStyleValue > .x-form-text-field-body-default {
  min-width: 50px !important;
}

.addCreatInput {
  width: 22px !important;
  height: 22px !important;
  z-index: 10;
  top: 0px;
  right: 4px;
  position: absolute;
}

.urlCreatInput {
  width: 22px !important;
  height: 22px !important;
  z-index: 10;
  top: 0px;
  right: 25px;
  position: absolute;
}

.urlCreatInputItem {
  width: 22px !important;
  height: 22px !important;
  z-index: 10;
  background: rgba(74, 144, 226, 1) !important;
  top: 0px;
  left: 258px;
  position: absolute;

  .x-btn-inner {
    color: #fff !important;
  }
}

.urlCreatInputItem:hover {
  background: rgba(74, 144, 226, 0.7) !important;
}

.urlCreatInputSet:hover {
  background: rgba(74, 144, 226, 0.7) !important;
}

.aadCreatInputPath {
  width: 22px !important;
  height: 22px !important;
  z-index: 10;
  top: 0px;
  right: 25px;
  position: absolute
}

.urlCreatInputPath {
  width: 24px !important;
  height: 22px !important;
  z-index: 10;
  top: 0px;
  //right: 35px;
  left: 245px;
  position: absolute;

  .x-btn-inner {
    color: #fff !important;
  }
}

.urlCreatInputadd {
  width: 22px !important;
  height: 22px !important;
  z-index: 10;
  top: 0px;
  //right: 35px;
  left: 257px;
  position: absolute;

  .x-btn-inner {
    color: #fff !important;
  }
}

.urlCreatInputSet {
  width: 22px !important;
  height: 22px !important;
  z-index: 10;
  top: 0px;
  background: rgba(74, 144, 226, 1) !important;
  left: 235px;
  position: absolute;

  .x-btn-inner {
    color: #fff !important;
  }
}

.urlCreatInputSetWidth {
  padding: 0 !important;
  width: 0px !important;
  height: 0px !important;
  z-index: -1;
  top: 0px;
  background: rgba(74, 144, 226, 1) !important;
  left: 184px;
  position: absolute;

  .x-btn-inner {
    color: #fff !important;
  }
}

.inputWidth {
  width: 100px !important;
}

.PanelCenterAdd. .x-panel-bodyWrap .x-panel-body-default {
  background: #fff !important;
}

.x-window-header-title-default {
  color: #000 !important;
}

#topPanel-innerCt {
  .x-fieldset x-fieldset-default {
    .x-fieldset-body {
      width: 200px !important;
    }
  }
}

.textfieldinput {
  .x-form-text-field-body-default {
    width: 126px;
  }
}

.textareaStyle {
  .x-fieldset-body {
    .x-autocontainer-outerCt {
      .x-autocontainer-innerCt {
        div {
          span {
            vertical-align: top;
          }
        }
      }
    }
  }
}

.x-box-item {
  //top: 20px !important;
}

#GridPanelSet {
  .x-grid-row {
    background: #fff !important;

    .x-grid-td {
      border-right: 1px solid #ececec !important;
    }
  }
}

.titleFize {
  .x-title {
    font-size: 14px;
  }
}

#loadUrl_header-title-textEl {
  color: #000 !important;
}

.bpmn-unfold {

}

.ChooseDatadevelopmentImg {
  background-image: url(images/right/datadevelopment.svg);
  background-size: 16px;
}

.ChooseDatadevelopmentImgflink {
  background-image: url(images/right/yarnRun.svg);
  background-size: 16px;
}

.ChooseTaskMoniImg {
  background-image: url(images/right/taskMoni.svg);
  background-size: 16px;
}

.ChooseTaskMoniImgflink {
  background-image: url(images/right/runLocally.svg);
  background-size: 16px;
}

.dataviewId {
  .dataview-multisort-item {
    float: left;
    padding: 8px;
    margin: 8px 8px 4px 8px;
    height: 120px;
    width: 82px;
    text-align: center;
    cursor: pointer;

    img {
      width: 48px;
      height: 48px;
    }

    h3 {
      -webkit-line-clamp: 3 !important;
      -webkit-box-orient: vertical !important;
      font-size: 12px !important;
      font-weight: normal !important;
      margin: 3px 0px !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      display: -webkit-box !important;
    }
  }

  .dataview-multisort-item:hover {
    background: #f2f2f2;
  }
}

.dataview-multisort-item-active {
  border: 1px solid #b4c5ea !important;
  background: #daecf7 !important;
}

#GridPanelTable-body {
  .x-component {
    background: #fdfcfc;
    //border-left: 2px solid #F1F1F1;
  }
}

.left-arrow {
  background: url(images/right/left-arrow.svg) no-repeat;
  width: 20px;
  background-size: 100% 100%;
}

.right-arrow {
  background: url(images/right/right-arrow.svg) no-repeat;
  width: 20px;
  background-size: 100% 100%;
}

#GridPanelTable-body {
  background: #fdfcfc !important;
  border-left: 2px solid #F1F1F1;
}

.searchFile {
  background-image: url(images/left/search.png) !important;
}

#fpform {
  border-width: 0px !important;
  height: 100% !important;
  width: 100% !important;
  background: #f1f1f1 !important;
}

#fpform-bodyWrap {
  .x-btn-inner-default-small {
    color: #fff;
  }
}

#file-path-button-btnInnerEl {
  color: #000 !important;
}

.Hdfsbottom {
  .x-panel-body-default {
    background: #FDFCFC !important;
  }
}

.treeUrlAlert {
  border-right: 1px solid #b5afaf;
}

#fieldSetHeader-body {
  height: 100%;
}

#goBack {
  background-image: none !important;
  background-color: rgb(74, 144, 226) !important;

  .x-btn-inner-default-small {
    color: #fff !important;
  }

  .x-btn-inner-over {
    background-color: #2C72C5 !important;
  }
}

#goBack:hover {
  background: #2C72C5 !important;
}

.btnHover {
  .x-btn-inner-default-small {
    color: #fff !important;
    background-image: none !important;
  }

  .x-btn-over {
    background-color: #2C72C5 !important;
  }
}

.btnHover:hover {
  display: inline-block;
  background: #2C72C5 !important;
  color: #fff !important;
}

.btnHover:hover span {
  color: #fff !important;
}

.wrapCmp:hover {
  cursor: all-scroll;
}

.titleFize {
  border-top: 1px solid #BCBCBC !important;
  margin: 0 12px !important;
}

#yarnContainerCount-triggerWrap, #jobManagerRam-triggerWrap, #taskManagerRam-triggerWrap {
  //width: 150px !important;
  //margin-left: 60px;
}

.x-css-shadow {
  z-index: 1000 !important;
}

#MainTopUser {
  .x-btn-wrap-default-small.x-btn-arrow-right:after {
    display: none;
  }
}

.logOut {
  width: 80px !important;
}

#copy {
  width: 136px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  margin-left: 12px;
  font-size: 14px;
  font-weight: bold;
  background: #f5f5f5;
}

#copy_title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 32px;
  font-family: tahoma, arial, verdana, sans-serif;
}

#copyImg {
  vertical-align: -2px;
  width: 16px;
  cursor:pointer;
}

.x-form-field-date .x-form-date-trigger {
  background-size: initial;
  width: 18px;
}

.textareaClass {
  resize: none;
  width: 150px;
  height: 60px;
}

.textareaClassSapn {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 5px;
}

.datefieldStyleTime {
  margin-left: 30px;
}

.datefieldStyleTime, .datefieldStyleEnd {
  .x-form-text-field-body-default {
    min-width: 110px !important;
  }
}

.datefieldStyle_end{
  .x-form-text-field-body-default {
    min-width: 50px !important;
  }
  .x-form-text{
   width: 24px;
  }
}

.createPageStyle {
  .x-form-text-field-body-default {
    min-width: 215px !important;
  }
}

.createPageStyleimg {
  .x-form-trigger-default {
    background-size: 16px 25px !important;
  }
}

.timerSelect, .startTime, .selectCombo{
  .x-form-text-field-body-default {
    min-width: 30px !important;
  }
  .x-form-trigger-default {
    background-size: 16px 25px !important;
    width: 0px !important;
  }
}
.selectComboWeek, .selectComboMonth{
  .x-form-text-field-body-default {
    min-width: 50px !important;
  }
  .x-form-trigger-default {
    background-size: 16px 25px !important;
    width: 0px !important;
  }
}
.selectComboHour{
  .x-form-text-field-body-default {
    min-width: 10px !important;
    width: 24px;
  }
  .x-form-trigger-default {
    background-size: 16px 25px !important;
    width: 0px !important;
  }
}

.configurationInputSet{
  width: 22px !important;
  height: 22px !important;
  z-index: 10;
  top: 0px;
  background: rgba(74, 144, 226, 1) !important;
  left: 258px;
  position: absolute;

  .x-btn-inner {
    color: #fff !important;
  }
}

#rightRegion-placeholder{
  height: 100% !important;
}

//#rightProperty-body>div{
//  height: 100% !important;
//}
/*
// 右侧属性面板行间距
#optionstabpanel fieldset.x-fieldset-default,
#setTableStyle-body fieldset.x-fieldset-default,
#setQuoteStyle fieldset.x-fieldset-default,
#rightStyle fieldset.x-fieldset-default,
#rightProperty-body fieldset.x-fieldset-default {
  margin-bottom: 0;
}

#optionstabpanel .x-tool-img,
#setTableStyle-body .x-tool-img,
#setQuoteStyle .x-tool-img,
#rightStyle .x-tool-img,
#rightProperty-body .x-tool-img {
  display: block !important;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); !* IE 9 *!
  -moz-transform: rotate(45deg); !* Firefox *!
  -webkit-transform: rotate(45deg); !* Safari 和 Chrome *!
  -o-transform: rotate(45deg); !* Opera *!
  background-image: url(images/component/arrows.png);
}

#optionstabpanel .x-fieldset-default.x-fieldset-collapsed .x-tool-default > .x-tool-toggle,
#setTableStyle-body .x-fieldset-default.x-fieldset-collapsed .x-tool-default > .x-tool-toggle,
#setQuoteStyle .x-fieldset-default.x-fieldset-collapsed .x-tool-default > .x-tool-toggle,
#rightStyle .x-fieldset-default.x-fieldset-collapsed .x-tool-default > .x-tool-toggle,
#rightProperty-body .x-fieldset-default.x-fieldset-collapsed .x-tool-default > .x-tool-toggle {
  transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important; !* IE 9 *!
  -moz-transform: rotate(0deg) !important; !* Firefox *!
  -webkit-transform: rotate(0deg) !important; !* Safari 和 Chrome *!
  -o-transform: rotate(0deg) !important; !* Opera *!
  background-position: -2px -2px;
}

#optionstabpanel .x-fieldset-default,
#setTableStyle-body .x-fieldset-default,
#setQuoteStyle .x-fieldset-default,
#rightStyle .x-fieldset-default > .x-tool-toggle,
#rightProperty-body .x-fieldset-default > .x-tool-toggle {
  background-position: -2px -2px;
}

#optionstabpanel .x-fieldset-header-tool-default > .x-tool-toggle,
#setTableStyle-body .x-fieldset-header-tool-default > .x-tool-toggle,
#setQuoteStyle .x-fieldset-header-tool-default > .x-tool-toggle,
#rightStyle .x-fieldset-header-tool-default > .x-tool-toggle,
#rightProperty-body .x-fieldset-header-tool-default > .x-tool-toggle {
  background-position: -2px -2px;

}

#optionstabpanel .x-fieldset-header-tool-default.x-tool-over > .x-tool-toggle,
#setTableStyle-body .x-fieldset-header-tool-default.x-tool-over > .x-tool-toggle,
#setQuoteStyle .x-fieldset-header-tool-default.x-tool-over > .x-tool-toggle,
#rightStyle .x-fieldset-header-tool-default.x-tool-over > .x-tool-toggle,
#rightProperty-body .x-fieldset-header-tool-default.x-tool-over > .x-tool-toggle {
  background-position: -2px -2px;
}

#optionstabpanel .x-fieldset-with-legend,
#setTableStyle-body .x-fieldset-with-legend,
#setQuoteStyle .x-fieldset-with-legend,
#rightProperty-body .x-fieldset-with-legend {
  padding: 10px 0 !important;
}

#optionstabpanel .x-fieldset-with-legend legend,
#setTableStyle-body .x-fieldset-with-legend legend,
#setQuoteStyle .x-fieldset-with-legend legend,
#rightStyle .x-fieldset-with-legend legend,
#rightProperty-body .x-fieldset-with-legend legend {
  margin: 0 3px 0 -1px !important;
  width: 120% !important;
  padding: 5px 10px !important;
  box-shadow: #42566b 0 1px 0px 0 inset !important;
  background-image: url(images/component/panel_header_background.png);
  background-repeat: repeat-x;
  background-size: 1px 27px;
  border: 1px solid #202D39 !important;
}

#styleWindow .x-component {
  color: #fff !important;
  opacity: 0;
}

#styleWindow .l-btn-text {
  opacity: 0;
}

#rightProperty-body .x-fieldset-with-legend .x-autocontainer-innerCt fieldset:last-of-type {
  padding-bottom: 16px !important;
}

#optionstabpanel .x-fieldset-header-default > .x-fieldset-header-text, #setQuoteStyle .x-fieldset-header-default > .x-fieldset-header-text, #rightStyle .x-fieldset-header-default > .x-fieldset-header-text, #rightProperty-body .x-fieldset-header-default > .x-fieldset-header-text {
  color: #fff;
}

#optionstabpanel .x-fieldset-default, #setQuoteStyle .x-fieldset-default, #rightStyle .x-fieldset-default, #rightProperty-body .x-fieldset-default {
  border: 1px solid #263646;
  border-bottom-color: #101701;
}

#optionstabpanel .x-fieldset-default.x-fieldset-collapsed, #setQuoteStyle .x-fieldset-default.x-fieldset-collapsed, #rightStyle .x-fieldset-default.x-fieldset-collapsed, #rightProperty-body .x-fieldset-default.x-fieldset-collapsed {
  border: 1px solid #263646;
  padding: 0 !important;
  border-bottom-color: #101701;
}

#optionstabpanel .x-docked-noborder-left, #setQuoteStyle .x-docked-noborder-left, #rightStyle .x-docked-noborder-left {
  padding-bottom: 0 !important;
}

#optionstabpanel-body .x-fieldset-header-tool-default.x-focus, #rightProperty-body .x-fieldset-header-tool-default.x-focus {
  outline: none !important;
}

#options-body .x-autocontainer-innerCt {
  background-color: #263646 !important;
}

//表格图标弹窗样式

#iconWindow .icon {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: white;
}

#iconWindow .colorImg {
  margin-top: 10px;
  margin-left: 15px;
}

#iconWindow .fontIcon {
  margin-top: 10px;
  margin-left: 15px;
  overflow: hidden;
}

#iconWindow .direction {
  margin-top: 10px;
  margin-left: 15px;
}

#iconWindow .side {
  margin-top: 10px;
  margin-left: 15px;
}

#iconWindow .sliderGroup {
  width: 60%;
  float: left;
  margin-left: 10px;
}

#iconWindow h6 {
  margin-top: 10px;
}

#iconWindow .listIcon {
  margin-top: 10px;
  margin-left: 15px;
}

#iconWindow .sliderGroup > div {
  margin-top: 10px
}

#iconWindow .sliderGroup > div > label {
  width: 70px;
  display: inline-block;
  text-align: center;
}

#iconWindow .sliderGroup > div > input[type='range'] {
  width: 68%;
}

#iconWindow .myPanel {
  float: left;
  margin-left: 40px;
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

#iconWindow i {
  border: 1px solid #eee;
  //padding: 8px;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
}

#iconWindow input[type=range] {
  -webkit-appearance: none;
  !* 隐藏滑块，以便自定义滑块样式 *!
  width: 100%;
  !* Firefox下所需 *!
}

#iconWindow input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#iconWindow input[type=range]:focus {
  outline: none;
  !* 去掉默认蓝色边框 *!
}

#iconWindow input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  !* 隐藏滑块，以便自定义滑块样式 *!
  border-color: transparent;
  color: transparent;
}

!* 设定WebKit浏览器下range *!
#iconWindow input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #eee;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: #e0e0e0;
  cursor: pointer;
  margin-top: -6px;
  !* 在Chrome下你需要定义一个margin值, 但在Firefox和IE下，是自动的 *!
  !* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; *!
  !* 为滑块增加一个酷炫的特效 *!
}

!* Firefox下 *!

#iconWindow input[type=range]::-moz-range-thumb {
  !* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; *!
  border: 1px solid #eee;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

!* IE下 *!

#iconWindow input[type=range]::-ms-thumb {
  !* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; *!
  border: 1px solid #eee;
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

!* 谷歌 *!
#iconWindow input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  !* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; *!
  !* 滑动条颜色 *!
  background: #729FCF;
  border-radius: 3px;
  border: 1px solid #eee;
}

#iconWindow #red::-webkit-slider-runnable-track {
  !* 滑动条颜色 *!
  background: #FF745E;

}

#iconWindow #green::-webkit-slider-runnable-track {
  !* 滑动条颜色 *!
  background: #8AE234;

}

#blue::-webkit-slider-runnable-track {
  !* 滑动条颜色 *!
  background: #729FCF;

}

#iconWindow #fontSize::-webkit-slider-runnable-track {
  !* 滑动条颜色 *!
  //background: orange;
  background: #fafafa;
}

!* input[type=range]:focus::-webkit-slider-runnable-track {
    !*获取焦点后滑动条颜色  *!
!* background: #367ebd; *!
!* } *!

!* 火狐 *!
#iconWindow input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  !* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; *!
  background: #3071a9;
  border-radius: 3px;
  border: 1px solid #eee;
}

#iconWindow input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

#iconWindow input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 1px solid #eee;
  border-radius: 2.6px;
  !* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; *!
}

#iconWindow #red::-ms-fill-lower {
  !* 滑动条颜色 *!
  background: #FF745E

}

#iconWindow #green::-ms-fill-lower {
  !* 滑动条颜色 *!
  background: #76B828;

}

#iconWindow #blue::-ms-fill-lower {
  !* 滑动条颜色 *!
  background: #729FCF;

}

#iconWindow #fontSize::-ms-fill-lower {
  !* 滑动条颜色 *!
  background: #fafafa;

}

#iconWindow input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

!* ie *!
#iconWindow input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #eee;
  border-radius: 2.6px;
  !* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; *!
}

#iconWindow #red::-ms-fill-upper {
  !* 滑动条颜色 *!
  background: #FF745E;

}

#iconWindow #green::-ms-fill-upper {
  !* 滑动条颜色 *!
  background: #76B828;

}

#iconWindow #blue::-ms-fill-upper {
  !* 滑动条颜色 *!
  background: #729FCF;

}

#iconWindow #fontSize::-ms-fill-upper {
  !* 滑动条颜色 *!
  background: #fafafa;

}

#iconWindow input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}



// 表格多行表头

#tableSet {
  margin-top: 15px;
  margin-left: 15px;
  height: 380px;
  width: 620px;
  overflow: auto;
}

.bottombtn {
  margin-top: 15px;
  text-align: center;
}

.btncancel {
  margin-left: 30px;
}

#tableSet td {
  white-space: nowrap;
  vertical-align: middle;
  padding: 2px 2px 2px 2px;
  border-right: #68C2FF 1px solid;
  border-top: #68C2FF 1px solid;
  border-left: #68C2FF 1px solid;
  border-bottom: #68C2FF 1px solid;
  white-space: nowrap;
  background-color: #F5FAFE;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.bar {
  font: 12px;
  background: buttonface;
  color: #000000;
  border: 1px solid buttonface;
  cursor: default;
  !*	behavior: url(img/button.htc);*!

}

.up1 {
  background-color: buttonface;
  border-left: 1px solid buttonhighlight;
  border-right: 1px solid buttonshadow;
  color: #000000;
  border-top: 1px solid buttonhighlight;
  border-bottom: 1px solid buttonshadow;
  padding: 1px;
}

.up {
  background-color: buttonface;
  border-left: 1px solid buttonhighlight;
  border-right: 1px solid buttonshadow;
  color: #000000;
  border-top: 1px solid buttonhighlight;
  border-bottom: 1px solid buttonshadow;
  padding: 0px;
}

.down1 {
  background-color: buttonface;
  border: 1 inset buttonhighlight;
  padding: 0;
  cursor: default;
}

#tableSet td {
  white-space: nowrap
}

!* 菜单项样式 *!
.controlListDiv {
  width: 170px;
  height: 100%;
  overflow: auto;
}

!* 菜单分页栏 *!
.menuDiv {
  background-image: url("../images/Attribute/toolbackground.gif");
}*/
